@import 'fonts-include/_montserrat.scss';

@import 'units/header/_header.scss';

@import 'units/menu/_mmenu.scss';

@import 'units/page-form/_page-form.scss';

@import 'units/easyForm/_easyForm.scss';

@import 'units/page-slider/_page-slider.scss';

@import 'units/mob-menu/_mob-menu.scss';

@import 'units/breadcrumbs/_breadcrumbs.scss';

@import 'units/books/_books.scss';

@import 'units/inner-nav/_inner-nav.scss';

@import 'units/link-list/_link-list.scss';

@import 'units/hot-links/_hot-links.scss';


@import 'units/coordinates/_coordinates.scss';


@import 'units/about-centre/_about-centre.scss';


@import 'units/statistics/_statistics.scss';

@import 'units/courses/_courses.scss';

@import 'units/footer/_footer.scss';

@import 'units/typography/_typography.scss';

@import 'units/icons-font/_icons-font.scss';

@import 'units/icons-font/_social.scss';

@import 'units/easyModal/_easyModal.scss';

@import 'units/modals/_modals.scss';

@import 'units/index/_index.scss';

/*

	Шрифты: 

	font-weight: 400;
	font-weight: 500;
	font-weight: 600;
	font-weight: bold;


*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html{
	font-family: $font-family;

	min-height: 100vh;
}


body{
	min-height: 100vh;
	display: grid;	
	grid-template-rows: auto 1fr auto;
}


main{
	min-height: 500px;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

a{
	text-decoration: none;
	outline: none;
}

button{
	font-family: inherit;
	border: none;
	background: transparent;
	outline: none;
}

input{
	font-family: inherit;
	border: none;
	background: #fff;
	outline: none;
}

address{
	font-style: normal;
}


.section{
	display: flex;
	justify-content: center;
	padding: 0 15px;
}

.section__inner{
	width: 100%;
	max-width: 1140px;
}

.title{
	font-size: 36px;
	font-weight: 600;
	text-align: center;
	color: #000;
	margin-bottom: 40px;
	


	@media (max-width: 580px){
		font-size: 30px;
	}
}

.upper{
	text-transform: uppercase;
}

.t-center{
	text-align: center;
}

.text{
	font-size: 18px;
  	line-height: 1.1;
  	color: #000;
}
.t-white{
	color: #fff;
}


.section.page-2-col{
	padding: 60px 15px;
	flex-direction: column;
	align-items: center;
	.section__inner{
		display: grid;

		grid-template-columns: 260px 1fr;
		grid-gap: 30px;

		@media (max-width: 1024px){
			grid-template-columns: 1fr;
			
		}

		@media (max-width: 560px){
			grid-gap: 45px;
		}
	}

	@media (max-width: 1024px){
		padding: 25px 15px;

		
	}



	.left-col{

	}

	.right-col{

	}
}

.section.content-section{
	padding: 60px 15px 40px;
}

.d-title-block{

	margin-bottom: 40px;
	.title{
		margin-bottom: 0;
	}
	.subtitle{
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		line-height: 1.11;
		text-align: center;
		color: #000;
	}
}

.mt-0{
    margin-top: 0;
}


.content-section{
	padding: 60px 15px 80px;
}

.mb-5{
	margin-bottom: 5px;
}
.mb-10{
	margin-bottom: 10px;
}

.mb-15{
	margin-bottom: 15px;
}

.mb-20{
	margin-bottom: 20px;
}

.mb-25{
	margin-bottom: 25px;
}

.mb-30{
	margin-bottom: 30px;
}

.privacy-list{
	padding-left: 50px;

	@media (max-width: 1024px){
		padding-left: 30px;
	}

	@media (max-width: 768px){
		padding-left: 20px;
	}
}

.inner-page-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: rgb(164, 201, 169);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	svg{
		width: 14px;
		height: 14px;
	}

	span{
		display: inline-block;
		margin-bottom: 5px;
		font-size: 14px;
		font-weight: 600;
		
	}
}

