@import 'fonts-include/_montserrat.scss';

@import 'units/header/_header.scss';

@import 'units/menu/_mmenu.scss';

@import 'units/page-form/_page-form.scss';

@import 'units/easyForm/_easyForm.scss';

@import 'units/page-slider/_page-slider.scss';

@import 'units/mob-menu/_mob-menu.scss';

@import 'units/breadcrumbs/_breadcrumbs.scss';

@import 'units/books/_books.scss';

@import 'units/inner-nav/_inner-nav.scss';

@import 'units/link-list/_link-list.scss';

@import 'units/hot-links/_hot-links.scss';


@import 'units/coordinates/_coordinates.scss';

@import 'units/footer/_footer.scss';

/*

	Шрифты: 

	font-weight: 400;
	font-weight: 500;
	font-weight: 600;
	font-weight: bold;


*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html{
	font-family: $font-family;

	min-height: 100vh;
}


body{
	min-height: 100vh;
	display: grid;	
	grid-template-rows: auto 1fr auto;
}


main{
	min-height: 500px;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

a{
	text-decoration: none;
	outline: none;
}

button{
	font-family: inherit;
	border: none;
	background: transparent;
	outline: none;
}

input{
	font-family: inherit;
	border: none;
	background: #fff;
	outline: none;
}

address{
	font-style: normal;
}


.section{
	display: flex;
	justify-content: center;
	padding: 0 15px;
}

.section__inner{
	width: 100%;
	max-width: 1140px;
}

.title{
	font-size: 36px;
	font-weight: 600;
	text-align: center;
	color: #000;
	margin-bottom: 40px;
	


	@media (max-width: 580px){
		font-size: 30px;
	}
}

.upper{
	text-transform: uppercase;
}

.section.page-2-col{
	padding: 60px 15px;

	.section__inner{
		display: grid;

		grid-template-columns: 260px 1fr;
		grid-gap: 30px;

		@media (max-width: 1024px){
			grid-template-columns: 1fr;
			
		}

		@media (max-width: 560px){
			grid-gap: 45px;
		}
	}

	@media (max-width: 1024px){
		padding: 25px 15px;
	}

	.left-col{

	}

	.right-col{

	}
}