
.section.page-slider{
    background-color: hsl(101, 31%, 62%);
    min-height: 330px;
    
    background: linear-gradient(0deg, rgb(156, 225, 12), rgb(32, 142, 55));

    

    @media (max-width: 1024px){
        padding-right: 0;
    }
    
    .section__inner{
        display: flex;
        position: relative;
        
        .social-block{
            position: absolute;
            display: flex;
            background: #fff;
            z-index: 77;
            width: 68px;
            height: 100%;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 1024px){
                right: 15px;
            }

            @media (max-width: 680px){
                display: none;
            }
        }

        .social-link{
            width: 38px;
            height: 38px;
            
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
        }

        .social-block__o-btn{
            width: 100%;
            height: 52px;
            background-color: #f08400;
            margin-bottom: 12px;
            transition: 300ms;
            svg{
                transform: scale(1.6) translateY(-5px);
            }


            path{
                transition: 300ms;
            }
            polygon{
                transition: 300ms;
            }


            &:hover{

                background-color: #fff;
                path{
                    fill: #f08400;
                }

                polygon{
                    fill: #f08400;
                }
            }   
        }
    }






    .social-ui{
        font-size: 38px;

        transition: 300ms;


        &:hover{
            transform: scale(1.05);
        }
    }

    .i-fb .path1:before {
        content: "\e900";
        color: #fff;
      }
      .i-fb .path2:before {
        content: "\e901";
        color: #0b0c10;;
        margin-left: -1em;
      }
      .i-fb .path3:before {
        content: "\e902";
        color: #fff;
        margin-left: -1em;
      }


        .i-instagram:before {
        content: "\e903";
        color: #0b0c10;
      }
      .i-telegram:before {
        content: "\e904";
        color: #0b0c10;
      }

      .i-vk:before {
        content: "\e905";
        color: #0b0c10;
      }
      .i-youtube .path1:before {
        content: "\e906";
        color: #0b0c10;
      }
      .i-youtube .path2:before {
        content: "\e907";
        color: #fff;
        margin-left: -1em;
      }
      .i-youtube .path3:before {
        content: "\e908";
        color: #fff;
        margin-left: -1em;
      }
      .i-youtube .path4:before {
        content: "\e909";
        color: #fff;;
        margin-left: -1em;
      }
      .i-youtube .path5:before {
        content: "\e90a";
        color: #fff;
        margin-left: -1em;
      }
      .i-youtube .path6:before {
        content: "\e90b";
        color: #0b0c10;;
        margin-left: -1em;
      }
      .i-youtube .path7:before {
        content: "\e90c";
        color: #0b0c10;;
        margin-left: -1em;
      }
      .i-youtube .path8:before {
        content: "\e90d";
        color: #0b0c10;
        margin-left: -1em;
      }
      .i-youtube .path9:before {
        content: "\e90e";
        color: #0b0c10;
        margin-left: -1em;
      }
      .i-youtube .path10:before {
        content: "\e90f";
        color: #0b0c10;;
        margin-left: -1em;
      }
      .i-youtube .path11:before {
        content: "\e910";
        color: #fff;
        margin-left: -1em;
      }










}

.m-slider{

    

    padding-left: 65px;
    height: 100%;
    width: 100%;
    max-width: 1075px;
    overflow: hidden;
    position: relative;


    @media (max-width: 1180px){
        max-width: 100%;
    }
    @media (max-width: 560px){
        padding-left: 35px;
    }
    
    .img-container.add-fog{
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: -50px;
            
            bottom: -50px;
            right: -40%;
            background: linear-gradient(0deg,#9ce10c,#208e37);
            width: 50%;
            z-index: 1;
            filter: blur(17px) ;
        }

        &::before{
            content: "";
            display: block;
            position: absolute;
            top: -50px;
            
            bottom: -50px;
            left: -40%;
            background: linear-gradient(0deg,#9ce10c,#208e37);
            width: 50%;
            z-index: 1;
            filter: blur(17px) ;
        }
    }


    .img-container{
        width: 566px;
        height: 330px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        //border-radius: 50px 0 0 50px;
        //overflow: hidden;
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: -50px;
            
            bottom: -50px;
            left: -40%;
            background: linear-gradient(0deg,#9ce10c,#208e37);
            width: 50%;

            filter: blur(17px) ;
        }
        
        img{
            width: 100%;
            height: 100%;
            max-width: 100%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            clip-path: url(#ellipse);
            
        }

        .slide-fog{
            position: absolute;
            top: 0;
            width: 50%;
            bottom: 0;
            left: 0;
            z-index: 0;
            //background: linear-gradient(0deg,#9ce10c,#208e37);
            //clip-path: url(#fog);
            filter: blur(55px) ;
            /*
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: -120px;
                right: -120px;
                height: 250px;
                width: 220px;
                background: linear-gradient(0deg,#9ce10c,#208e37);
                border-radius: 25%;
                transform: rotate(-55deg);
                filter: blur(25px) ;
            }*/
            /*
            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom: -140px;
                right: -90px;
                height: 250px;
                width: 220px;
                background: linear-gradient(0deg,#9ce10c,#208e37);
                border-radius: 25%;
                transform: rotate(60deg);
                filter: blur(35px) ;
            }*/
        }
     
        
        @media (max-width: 1024px){
            transform: translateX(50%);
        }
        @media (max-width: 560px){
            display: none;
        }
    }
    .slide-text-block{
        padding: 45px 0 0 0;
        max-width: 100%;
        position: relative;
        z-index: 5;


        @media (max-width: 1024px){
            padding: 28px 0 0 0;
        }
        @media (max-width: 560px){
            padding: 28px 0 0 15px;

            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        @media (max-width: 420px){
            padding: 28px 0 0 0px;
        }
    }

    .course-date{
        display: inline-block;
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        color: #000;
        padding: 15px;
        background-color: #f08400;
    }

    .course-type{
      
        font-size: 18px;
        font-weight: 500;
        line-height: 1.19;
        color: #fff;
        text-transform: uppercase;

        @media (max-width: 420px){
            font-size: 16px;
        }
    }

    .course-name{
        font-size: 44px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        margin: 10px 0 5px;

        @media ( max-width: 560px ){
            font-size: 38px;
            margin: 0px 0 5px;
        }
        @media ( max-width: 420px ){
            font-size: 32px;
        }
    }

    .course-about{
        font-size: 26px;
        font-weight: 500;
        line-height: 1;
        color: #fff;

        @media (max-width: 560px){
            font-size: 22.5px;
        }

        @media (max-width: 560px){
            font-size: 18px;
        }
    }

    .about-course-block{
        margin-top: 35px;
        max-width: 75%;
        @media (max-width: 1024px){
            margin-top: 20px;
            max-width: 400px;
            max-width: calc(100% - 30px);
        }

        @media (max-width: 680px){
            padding-right: 30px;
        }

        @media (max-width: 560px){
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 50px;
        }
    }
    

    .swiper-pagination{
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 40px;
        width: 100%;

        @media (max-width: 1024px){
            bottom: 20px;
            padding-right: 22%;
        }

        @media (max-width: 560px){
            bottom: 50px;

            padding-right: 15%;
        }

        @media (max-width: 420px){
            bottom: 20px;
        }
    }

    .swiper-pagination-bullet{
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid rgba($color: #fff, $alpha: 1);
        background-color: rgba($color: #fff, $alpha: 0);;
        transition: 300ms;
        z-index: 50;
        margin: 0 17px;
        cursor: pointer;
    }

    .swiper-pagination-bullet-active{
        background-color:  rgba($color: #fff, $alpha: 1);
        cursor: initial;
    }

    .next-slide{
        
        top: 50%;
        right: 0;

        transform: translateX(-50% ) translateY(-20%);

        @media (max-width: 1180px){
            right: 90px;
        }

        @media (max-width: 680px){
            right: 10px;
            transform: translateX(0% ) translateY(-20%);
        }
        
    }

    .prev-slide{
        
        top: 50%;
        left: 0;

        svg{
            transform: translateX(-25% ) translateY(-20%) rotate(180deg);
        }
        
    }
    .nav-btn{
        position: absolute;
        width: 47px;
        height: 47px;
        z-index: 50;
        cursor: pointer;
        path{
            fill: #fff;
            transition: 300ms;
        }

        &:hover{
            path{
                fill: #f08400;
                
            }   
        }

        @media (max-width: 420px){
            width: 32px;
            height: 32px;
        }
    }


    .swiper-button-disabled{
        opacity: .5;
        &:hover{
            path{
                fill: #fff;
                
            }   
        }

    }

    
    
}
