.st-title-block{
    .title{
        margin-bottom: 0;
    }
    .subtitle{
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: #000;
        text-transform: uppercase;
    }
}