.footer{
    background-color: #358125;    
    padding: 0 15px;  
    display: flex;
    justify-content: center;
}

.footer__inner{
    width: 100%;
    max-width: 1140px;
}

.f-menu{
    padding: 55px 0 50px;

    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:  40px 30px;


    position: relative;


    &::before{
        content: "";
        position: absolute;
        width: calc(100% + 30px);
        bottom: 0;
        left: -15px;
        height: 2px;
        background-color: #95bd16;
    }

    @media (max-width: 1180px){

        &::before{
            width: 100%;
            left: 0px;
        }
        
    }

    @media (max-width: 768px){
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 560px){
        display: none;
    }
}

.f-menu__block{
    display: flex;

    &:nth-of-type(3n + 2){
        
        padding-left: 20px;
    }
    &:nth-of-type(3n + 3){
        justify-content: flex-end;
        padding-right: 0px;
        .f-menu__block--inner{
            width: 72%;
        }
    }

    @media (max-width: 768px ){
        &:nth-of-type(3n + 2){
        
            padding-left: 0px;
        }
        &:nth-of-type(3n + 3){
            justify-content: initial;
            padding-right: initial;
            .f-menu__block--inner{
                width: initial;
            }
        }

        &:nth-of-type(even){
            padding-left: 30px;
        }
    }
}

.f-menu__block--inner{
    display: inline-block;
}

.f-menu__title{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.13;
  color: #fff;
  text-transform: uppercase;
}

.f-menu__list{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin-left: 15px;
    li{
        margin-top: 15px;

        &:first-of-type{
            margin-top: 10px;
        }
    }
    a{
        color: inherit;
        transition: 300ms;

        &:hover{
            color: #efc965;
        }
    }
}

.footer__bottom{
    padding: 20px 0 40px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px){
        flex-wrap: wrap;
        padding: 20px 0 30px;
    }

    @media (max-width: 560px){
        padding: 30px 0 30px;
    }
}

.footer__copyright{
    padding-bottom: 10px;
    
    p{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        color: #fff;
        text-align: center;
        margin-top: 5px;
    }
    
}

.f-contacts{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    color: #fff;

    address{
        margin-top: 12px;
    }

    @media (max-width: 1024px){
        width: 50%;
        align-items: flex-start;
        justify-content: center;
    }

    @media (max-width: 560px){
        display: none;
    }
}

.f-contacts__phones{
    display: flex;
    width: 100%;
    justify-content: space-between;
    a{
        color: inherit;    
    }

    @media (max-width: 1024px){
        flex-wrap: wrap;
    }
    
}
.f-socials{
    width: 33.33%;
    display: flex;

    align-items: center;
    justify-content: flex-end;

    @media (max-width: 1024px){
        width: 100%;
        justify-content: center;
    }
    @media (max-width: 480px){
        margin-top: 25px;
    }
    
}

.f-socials__link{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px 6px 0;

    &:last-of-type{
        margin-right: 0px;
    }

    .social-ui{
        font-size: 36px;

        transition: 300ms;


        &:hover{
            transform: scale(1.05);
        }
    }

    .i-fb .path1:before {
        content: "\e900";
        color: #46802a;
      }
      .i-fb .path2:before {
        content: "\e901";
        color: #fff;
        margin-left: -1em;
      }
      .i-fb .path3:before {
        content: "\e902";
        color: #46802a;
        margin-left: -1em;
      }


        .i-instagram:before {
        content: "\e903";
        color: #fff;
      }
      .i-telegram:before {
        content: "\e904";
        color: #fff;
      }

      .i-vk:before {
        content: "\e905";
        color: #fff;
      }
      .i-youtube .path1:before {
        content: "\e906";
        color: #fff;
      }
      .i-youtube .path2:before {
        content: "\e907";
        color: #46802a;
        margin-left: -1em;
      }
      .i-youtube .path3:before {
        content: "\e908";
        color: #46802a;
        margin-left: -1em;
      }
      .i-youtube .path4:before {
        content: "\e909";
        color: #46802a;
        margin-left: -1em;
      }
      .i-youtube .path5:before {
        content: "\e90a";
        color: #46802a;
        margin-left: -1em;
      }
      .i-youtube .path6:before {
        content: "\e90b";
        color: #fff;
        margin-left: -1em;
      }
      .i-youtube .path7:before {
        content: "\e90c";
        color: #fff;
        margin-left: -1em;
      }
      .i-youtube .path8:before {
        content: "\e90d";
        color: #fff;
        margin-left: -1em;
      }
      .i-youtube .path9:before {
        content: "\e90e";
        color: #fff;
        margin-left: -1em;
      }
      .i-youtube .path10:before {
        content: "\e90f";
        color: #fff;
        margin-left: -1em;
      }
      .i-youtube .path11:before {
        content: "\e910";
        color: #46802a;
        margin-left: -1em;
      }
    @media (max-width: 480px){
        margin: 5px 6px;
    }
}

.f-logo-wrap{
    width: 33.33%;

    @media (max-width: 560px){
        width: 100%;
        display: flex;
        justify-content: center;
    }
}