.hamburger{
    width: 66px;
    height: 51px;
    background-color: #358125;

    margin: 20px 5px 0 0;

    position: relative;


    div{
        position: absolute;
        width: 43px;
        height: 3px;
        background-color: #fff;
        left: 12px;
        &:nth-of-type(1){
            top: 12px
        }
        &:nth-of-type(2){
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-of-type(3){
            bottom: 12px;
        }
    }


    @media (max-width: 420px){
        width: 42px;
        height: 36px;
        margin: 10px 5px 0 0;
        
        
        div{
            height: 2px;
            width: 26px;
            left: 8px;

            &:nth-of-type(1){
                top: 8px
            }
            &:nth-of-type(2){
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-of-type(3){
                bottom: 8px;
            }
        }
    }
    
}

.hamburger-block{
    grid-column: span 3;   
    grid-row: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media( min-width: 1025px ){
        display: none;
    }
    @media( min-width: 680px ){
        grid-column: span 3;
    }
}


.mob-menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    background-color: #e3e3e3;
    z-index: 999;

    max-height: 100vh;
    

    transition: 500ms;


    transform: translateY(-120%);

    @media (min-width: 1025px){
        display: none;
    }
}

.mob-menu.show{
    transform: translateY(0%);
}

.mob-menu__header{
    height: 27px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    background: linear-gradient(0deg, rgb(172, 172, 172), rgb(219, 219, 219));
    border-bottom: 1px solid #939393;

    div{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #878787;
        background-color: #acacac;

        margin: 0 3px;

        &:first-of-type{
            margin-left: 0;
        }
    }


}



.mob-menu__body{
    position: relative;
    padding: 20px;
    
}

.mob-menu__close{
    width: 34px;
    height: 34px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    top: 15px;

    div{
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 4px;
        border-radius: 50px;
        &:first-of-type{
            transform: rotate(45deg);
        }
        &:last-of-type{
            transform: rotate(-45deg);
        }
    }
}

.no-scroll{
    overflow: hidden;
}

.mob-menu__title{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}


.mob-menu__list {
    list-style: none;
    margin-top: 20px;
    

    .mob-menu__list{
        margin-top: 0;
        padding-top: 20px;

        @media (max-width: 420px){
            padding-top: 10px;
        }
    }
}


.mob-menu__sublist{
    list-style: none;
    padding-left: 20px;
    margin-top: 20px;

}




.mob-menu__sublist--item{
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    padding: 18px 0;
    border-bottom: 1px solid #c1c1c1;
    cursor: pointer;
    &:last-of-type{
        border-bottom: none;
    }
    a{
        color: #000;
        text-transform: inherit;
        font-weight: 600;
    }
}

.mob-menu__item{
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    padding: 18px 0;
    border-bottom: 1px solid #c1c1c1;
    cursor: pointer;
    
    

    a{
        color: #000;
        text-transform: inherit;
        font-weight: 600;
    }

    @media (max-width:420px){
        padding: 12px 0;
        font-size: 14px;
    
    }
}




.mob-menu__item.current{
    color: #fcad2c;

    & > a{
        color: #fcad2c;
    }
}

.mob-menu__item.has-child{
    position: relative;

    
    .mob-menu__item{
        padding-right: 20px;
    }

    &::before{
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        border: 1px solid #d1d1d1;
        background-color: #fff;
        border-radius: 50%;
        right: 20px;
        top: 27px;
        transform: translateY(-50%);

        @media (max-width: 420px){
            right: 0px;
            top: 20px;
            width: 14px;
            height: 14px;
        }
    }

    & > .mob-menu__list-container > .mob-menu__list{
        padding-left: 20px;

        & > .mob-menu__item{
            &:last-of-type{
                border-bottom: none;
            }
        }
    }
}

.mob-menu__item.has-child[data-state="rolled"]{
   
}

.mob-menu__item.has-child[data-state="deploy"]{
    color: #9c70b9;

    &::before{
        background-color: #9c70b9;
    }
}

.mob-menu__list-container{
    overflow: hidden;
    height: 0px;
    transition: 300ms;
}